/* General
========================================================================== */
html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    font-weight: 500;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

.screen-reader-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
