/* Typography
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-shades-blue-500);
    font-family: $font-primary;
    font-weight: 700;
    font-style: normal;
}

.ff-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}
