/* Colors
========================================================================== */
$colors: (
    'primary': #4d7a7a,
    'grey' : #6c7f7f,
    'secondary': #26131b,
    'white': #ffffff,
    'eclipse': #3a3a3a,
    'gainsboro': #efeded,
);

/* Sizes
========================================================================== */
$text-sizes: (
    9xl: 128px,
    8xl: 88px,
    7xl: 72px,
    6xl: 60px,
    5xl: 48px,
    4xl: 36px,
    3xl: 30px,
    2xl: 24px,
    xl: 20px,
    lg: 18px,
    base: 16px,
    sm: 14px,
    xs: 12px,
    xxs: 10px,
);
